/*==========  section header ==========*/
header {
  background: #E4AB18;
  padding: 33px 0 20px; }
  header .container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    max-width: 1365px; }
  header .logo {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    left: 50%;
    position: absolute; }

.btn-burger {
  width: 32px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .btn-burger span {
    display: block;
    width: 100%;
    height: 2px;
    background: #252930;
    -webkit-transition: .3s ease;
    transition: .3s ease; }
  .btn-burger.open span {
    position: absolute;
    top: 10px;
    left: 0; }
    .btn-burger.open span:first-child {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .btn-burger.open span:last-child {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }
    .btn-burger.open span:nth-child(2) {
      width: 0; }

.logo-letter {
  max-width: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 0 36px; }
  .logo-letter img {
    width: 100%; }

.logo {
  margin: 0 auto;
  max-width: 142px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .logo img {
    width: 100%; }

.description-company {
  max-width: 260px;
  text-align: right;
  letter-spacing: 0.15em;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #231F20;
  margin-left: auto; }

/*==========  section header end  ==========*/
/*==========  section mobile-menu ==========*/
.mobile-menu {
  position: absolute;
  left: 0;
  top: 0;
  background: #A287BC;
  max-width: 375px;
  width: 100%;
  z-index: 5;
  padding: 50px 50px 38px 114px;
  display: none; }
  .mobile-menu__close {
    width: 22px;
    height: 22px;
    position: absolute;
    top: 43px;
    left: 50px;
    cursor: pointer; }
    .mobile-menu__close:before, .mobile-menu__close:after {
      content: '';
      position: absolute;
      left: 10px;
      top: 0;
      width: 2px;
      height: 100%;
      background: #252930; }
    .mobile-menu__close:before {
      -webkit-transform: rotate(45deg);
              transform: rotate(45deg); }
    .mobile-menu__close:after {
      -webkit-transform: rotate(135deg);
              transform: rotate(135deg); }

.menu {
  letter-spacing: 0.1em;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase; }
  .menu li {
    margin: 0 0 25px; }
    .menu li:last-child {
      margin: 0; }
    .menu li a {
      color: #231F20; }
      .menu li a:hover {
        color: #E4AB18; }

/*==========  section mobile-menu end  ==========*/
