@font-face {
  font-family: "TTHoves";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/TTHoves/TTHoves-Light.eot");
  src: url("../fonts/TTHoves/TTHoves-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Light.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Light.ttf") format("truetype"); }

@font-face {
  font-family: "TTHoves";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/TTHoves/TTHoves-Regular.eot");
  src: url("../fonts/TTHoves/TTHoves-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Regular.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "TTHoves";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/TTHoves/TTHoves-Medium.eot");
  src: url("../fonts/TTHoves/TTHoves-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Medium.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Medium.ttf") format("truetype"); }

@font-face {
  font-family: "TTHoves";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/TTHoves/TTHoves-DemiBold.eot");
  src: url("../fonts/TTHoves/TTHoves-DemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-DemiBold.woff") format("woff"), url("../fonts/TTHoves/TTHoves-DemiBold.ttf") format("truetype"); }

@font-face {
  font-family: "TTHoves";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/TTHoves/TTHoves-Bold.eot");
  src: url("../fonts/TTHoves/TTHoves-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/TTHoves/TTHoves-Bold.woff") format("woff"), url("../fonts/TTHoves/TTHoves-Bold.ttf") format("truetype"); }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: normal;
  font-family: "TTHoves", sans-serif;
  font-weight: normal;
  background: #F4EDEA;
  color: #fff; }

html, body {
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

.text-center {
  text-align: center; }

a {
  display: block;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  outline: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content; }
  a:hover, a:focus {
    text-decoration: none; }

input, textarea, select {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0 36px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "TTHoves", sans-serif;
  border: 1px solid #fff;
    border-radius: 48px;
  width: 100%;
  height: 67px;
  background: transparent;
  color: #fff;
  letter-spacing: 0.25em;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #fff; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #fff; }
  input::-ms-input-placeholder, textarea::-ms-input-placeholder, select::-ms-input-placeholder {
    color: #fff; }
  input::placeholder, textarea::placeholder, select::placeholder {
    color: #fff; }
  input:hover, input:focus, textarea:hover, textarea:focus, select:hover, select:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

label {
  display: block;
  width: 100%; }

button, .btn {
  outline: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  cursor: pointer;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-family: "TTHoves", sans-serif;
  padding: 0;
  margin: 0;
  border: none;
    border-radius: 0; }
  button:hover, button:focus, .btn:hover, .btn:focus {
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 67px;
  border-radius: 48px;
  padding: 0 45px;
  font-size: 18px;
  font-weight: 500; }

.btn-accent {
  color: #fff;
  background: #70AB9E; }
  .btn-accent:hover {
    background: #E4AB18;
    color: #fff; }

.btn-black {
  background: #231F20;
  color: #FCE179;
  font-size: 24px; }
  .btn-black:hover {
    background: #70AB9E;
    color: #fff; }

.btn-white {
  background: #fff;
  color: #4C434A;
  font-size: 16px;
  height: 67px;
  padding: 0 33px; }
  .btn-white:hover {
    background: #231F20;
    color: #fff; }
    .btn-white:hover .btn-icon {
      fill: #fff; }

.btn-border {
  border: 1px solid #CBA69B;
  background: #fff;
  color: #4C434A; }
  .btn-border:hover {
    background: #4C434A;
    color: #fff; }

.btn-sm {
  height: 54px; }

.btn-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.svg-icon {
  display: inline-block;
  width: 100%;
  height: 100%; }

strong, b {
  font-weight: bold;
  display: inline-block; }

ul, ol {
  padding: 0 0 0 20px; }

.my-ul {
  list-style: none;
  padding: 0; }

h1 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: 109px;
  width: 100%;
  letter-spacing: 0.045em; }
  h1 span {
    display: block; }

h2, .link-title {
  font-size: 80px;
  line-height: 83px;
  font-weight: 500; }

.title-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%; }

.container {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto; }

.bg-violet {
  background: #A287BC; }

.bg-green {
  background: #70AB9E; }

.bg-blue {
  background: #8DC0CA; }

.color-white {
  color: #fff; }

a.color-white:hover {
  color: #70AB9E; }

.mb-35 {
  margin-bottom: 35px; }

.mb-70 {
  margin-bottom: 70px; }

.w-100 {
  width: 100%; }

.col-4 {
  width: 25%;
  padding: 0 15px; }

.col-100 {
  width: 100%;
  padding: 0 15px; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px; }

.box-text {
  font-size: 16px;
  line-height: 24px;
  color: #000; }
  .box-text p {
    margin: 0 0 35px; }
    .box-text p:last-child {
      margin: 0; }

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto 0 0;
  font-weight: 600; }
  .breadcrumb li a {
    color: #000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-decoration: underline; }
    .breadcrumb li a:after {
      content: '';
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background: url("../img/arrow-right.svg") no-repeat center;
        background-size: 100%;
      margin: 0 9px;
      width: 16px;
      height: 21px; }
    .breadcrumb li a:hover {
      color: #70AB9E; }
  .breadcrumb li span {
    text-decoration: underline; }

.slick-slider {
  width: 100%; }

.slick-slide {
  outline: none; }

.slick-arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #DE7856;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  stroke: #ffffff;
  fill: none;
  padding: 9px;
  opacity: 1;
  z-index: 1; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }
