@import "vars"

/*==========  section home ==========*/
.home
  background: $orange
  color: $black
  .btn-course
    margin: 13px auto -20px
    padding: 0 65px
    position: relative
    z-index: 2


.home-bottom
  position: relative
  z-index: 1
  overflow: hidden
  margin: -53px 0 0
  &:before, &:after
    content: ''
    position: absolute
    left: -1px
    height: 210px
    bottom: 0
  &:before
    width: 282px
    z-index: 1
    //width: calc(100% - 1000px)
    left: 0
    background: #8DC0CA
  &:after
    right: 0
    width: 100%
    background: #E66C52
  .description
    color: #231F20
    font-size: 26px
    font-weight: 700
    text-transform: uppercase
    text-align: center
    letter-spacing: 0.25em
    max-width: 620px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    z-index: 1
    margin: 0
  .container
    align-items: center

.description-mobile
  display: none

.home-image
  height: 263px
  overflow: hidden
  max-width: 487px
  width: 100%
  position: relative
  z-index: 1
  margin-left: -80px
  &:before
    content: ''
    position: absolute
    z-index: -1
    width: 404px
    height: 210px
    background: url("../img/figure-home.svg") no-repeat center
      size: 100%
    bottom: 0
    left: 0


/*==========  section home end  ==========*/


/*==========  section course-levels ==========*/
.course-levels
  position: relative
  z-index: 1
  padding: 58px 0 80px
  .container
    position: initial
    flex-wrap: nowrap

.panel_heading
  display: flex
  align-items: stretch
  &-bg
    position: absolute
    z-index: -1
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0
    visibility: hidden
    transition: .3s ease
  &:first-child
    border-left: 2px solid #fff
    .block_hover-image
      right: -163px
  &:nth-child(2)
    .block_hover-image
      right: 25px
      max-width: 366px
  &:last-child
    border-right: 2px solid #fff
    .block_hover-image
      max-width: 463px
      right: -44px
  .block_title
    min-height: 577px
    width: 87px
    min-width: 87px
    position: relative
    padding: 24px 10px
    font-size: 14px
    font-weight: bold
    letter-spacing: 0.57em
    text-transform: uppercase
    cursor: pointer
    transition: .3s ease
    h3
      transform: rotate(90deg)
      white-space: nowrap
      margin-top: 24px

  .block_hover
    width: calc(100% - 87px)
    transition: .4s linear
    display: none
    h4
      font-size: 80px
      line-height: 70px
      font-weight: 500
      margin: 20px 0 28px
      max-width: 609px
    ul
      font-size: 14px
      font-weight: 500
  &.in
    width: 100%
    .panel_heading-bg
      opacity: 1
      visibility: visible
    .block_hover
      display: block

.block_hover-wrapper
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  position: relative
  .btn
    margin: auto 0 0

.block_hover-image
  position: absolute
  right: 0
  top: 50%
  transform: translate(0,-50%)
  z-index: -1
  max-width: 854px


/*==========  section course-levels end  ==========*/


/*==========  section collections ==========*/
.collections
  background: #CBA69B
  padding: 90px 0 110px
  .container
    max-width: 1210px
    &:before
      content: ''
      position: absolute
      z-index: 1
      width: 631px
      height: 631px
      background: url("../img/logo-letter.svg") no-repeat center
        size: 100%
      opacity: .1
      left: -227px
      top: -70px
      filter: brightness(0) invert(1)
  h2
    text-decoration: underline
    margin: 0 auto 0 0
  .title-wrapper
    margin: 0 0 70px
    position: relative
    z-index: 1

.collection-box
  width: 100%
  text-align: center
  color: #fff
  text-decoration: underline
  text-transform: lowercase
  font-size: 24px
  font-weight: 600

  &:hover
    color: #fff
    text-decoration: underline
    .collection-box__image
      border: 12px solid #F2734D
  &__image
    width: 100%
    background: rgba(192, 97, 79, 0.68)
    border-radius: 10px
    overflow: hidden
    height: 272px
    @include d-flex
    margin: 0 auto 15px
    transition: .3s ease
    img
      max-height: 100%
      width: 100%
      height: 100%
      object-fit: cover
  .image-auto
    padding: 16px
    img
      width: auto
      height: auto
      object-fit: contain
/*==========  section collections end  ==========*/


/*==========  section seminar ==========*/
.seminar
  background: #70AB9E
  .container
    max-width: 1470px

.btn-visit
  display: none

.seminar-wrapper
  width: 100%
  background: #fff
  display: flex
  align-items: stretch
  color: #70AB9E
  margin: 0 auto 104px
  &__image
    width: 466px
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    width: calc(100% - 466px)
    padding: 39px 124px 46px 58px
    display: flex
    flex-direction: column
  &__top
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between
    flex-wrap: wrap
    .btn
      padding: 0 60px

.seminar-category
  letter-spacing: 0.25em
  font-weight: bold
  text-transform: uppercase

.seminar-date
  margin: 46px 0 0
  letter-spacing: 0.1em
  font-size: 15px
  text-transform: uppercase

.btn-details
  margin: auto 0 0
  padding: 0 47px

.seminar-recommended
  width: 100%
  max-width: 1210px
  margin: 0 auto
  display: flex
  align-items: stretch
  flex-wrap: wrap


.seminar-box
  margin: 0 0 80px
  width: 33.3%
  display: flex
  flex-direction: column
  position: relative
  padding: 0 23px 0 50px
  &:first-child
    padding-left: 0
  &:last-child
    padding-right: 0
    &:before
      display: none
  &:before
    content: ''
    position: absolute
    right: 0
    top: 0
    background: #fff
    width: 2px
    height: 130px
  .seminar-category
    font-size: 12px
    margin: 0 0 20px
  &__title
    color: #fff
    max-width: 350px
    font-size: 28px
    font-weight: 500
    margin: 0 0 auto
    &:hover
      color: $orange
  .seminar-date
    margin: 60px 0 0
    font-size: 13px
    letter-spacing: 0.1em


/*==========  section seminar end  ==========*/


/*==========  section subscribe-section ==========*/
.subscribe-section
  background: #E4AB18
  color: #fff
  padding: 40px 0
  h2
    font-size: 28px
    font-weight: 500
    max-width: 250px
    line-height: normal
    margin: 0 auto 0 0
  .container
    align-items: center

.form-subscribe
  display: flex
  align-items: flex-start
  label
    max-width: 320px
    min-width: 320px
    width: 100%
    margin: 0 25px 0 0
  button
    min-width: 242px
    padding: 0 10px
    margin: 0 0 0 8px

/*==========  section subscribe-section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/


/*==========  section  ==========*/

/*==========  section end  ==========*/