@import "vars"

.chapter-box .collection-box__image
  height: 345px
  border-top: 6px solid #EB5757
  border-radius: 10px
  max-width: 294px


.form-search
  max-width: 251px

.box-text p
  margin: 0 0 15px

.list-category-chapter li a.active
  color: #DE7856
  text-decoration: none

.page-product h1
  margin: 25px auto 0

.collection-row
  margin-top: 26px
  width: 100%

.breadcrumb li:last-child a:after
  content: ''
  display: -webkit-box
  display: -ms-flexbox
  display: flex
  -webkit-box-align: center
  -ms-flex-align: center
  align-items: center
  -webkit-box-pack: center
  -ms-flex-pack: center
  justify-content: center
  background: none
  background-size: 100%
  margin: 0 0px
  width: 0
  height: 0

.list-characteristics li a
  display: inline-block
  color: #943921
  text-decoration: underline
  margin: 0

.collection-box
  text-transform: none

.list-tags
  margin: 20px 0 0

.page-collection h3
  margin: 20px 0 0

.mtop20
  margin-top: 20px

/*==========  section about page ==========*/
.list-category-product
  font-size: 16px
  margin: 0 0 22px
  li
    margin: 0 20px 9px 0
    &:last-child
      margin: 0 0 9px
    a
      &:hover
        color: #000
      &.active
        color: #000

.btn-play
  margin: 20px 0 0
  padding: 0 50px 0 40px
  &__icon
    margin: 0 10px 0 0
    @include d-flex

.page-about-home
  background: url("../img/about-bg.jpg") no-repeat center bottom
    size: 100%
  padding: 45px 0 491px
  position: relative

  .container
    position: relative
    z-index: 1
    &:before
      opacity: .2
      width: 525px
      height: 525px
      left: -180px

.about-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.about-image
  max-width: 240px
  margin: 16px 0 0

.about-content
  padding: 0 0 0 114px
  width: calc(100% - 240px)

.learn-course
  color: #000
  background: #CBA69B
  position: relative
  z-index: 1
  padding: 153px 0 100px
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 45px
    background: url("../img/about-decor.svg") repeat-x center
      size: 120px
  &__content
    max-width: 774px
    width: calc(100% - 370px)
  &__image
    max-width: 544px
    width: 100%
    position: absolute
    top: 30px
    right: 0
  h2
    margin: 0 0 18px
    font-size: 40px
    font-weight: bold
    line-height: normal

.learn-course-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap
  position: relative
  .btn
    margin: 50px 0 0
    padding: 0 58px
  .box-text
    p
      margin: 0 0 25px
      &:last-child
        margin: 0

.team-projects
  padding: 100px 0 90px
  color: #000
  h2
    margin: 0 0 47px
    font-size: 40px
    font-weight: bold
    line-height: normal
  .row
    justify-content: space-between

.team-projects-card
  width: 50%
  display: flex
  align-items: center
  margin: 0 0 35px
  padding: 0 15px
  &__photo
    @include d-flex
    width: 299px
    min-width: 299px
    height: 299px
    img
      width: 100%
      height: 100%
      object-fit: cover
  h4
    color: #BA634B
    font-size: 23px
    font-weight: bold
    margin: 0 0 20px
  .position
    font-weight: bold
    max-width: 254px
    line-height: 24px
  &__content
    padding: 0 0 0 12px

.team-projects-wrapper
  border-top: 1px solid #CBA69B
  padding: 33px 0 0
  .container
    align-items: flex-start
    justify-content: space-between

.team-projects-item
  width: 50%
  margin: 0 0 47px
  display: flex
  align-items: center
  &__photo
    @include d-flex
    border-radius: 10px
    background: rgba(0, 0, 0, 0.2)
    width: 200px
    height: 200px
    min-width: 200px
    overflow: hidden
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    padding: 0 0 0 29px
  h4
    font-weight: bold
    color: #BA634B
  .box-text
    font-size: 14px
    line-height: 18px
    max-width: 298px
  .position
    font-weight: bold
    margin: 10px 0
    font-size: 14px

.btn-toggle-team
  padding: 0 53px

.museum-section
  background: #fff
  padding: 116px 0 143px
  color: #000
  .container
    align-items: flex-start

  &__content
    width: calc(100% - 408px)
    padding: 0 60px 0 0
  h2
    line-height: normal
    font-size: 30px
    font-weight: bold
    margin: 0 0 20px
  .box-text
    max-width: 713px
    p
      margin: 0 0 20px
      &:last-child
        margin: 0
    strong
      font-weight: 600
      font-size: 20px
      line-height: 30px
  &__gallery
    width: 400px
    display: flex
    align-items: flex-start
    flex-wrap: wrap

.image-gallery
  border: 10px solid #FFFFFF
    radius: 20px
  margin-bottom: -10px
  @include d-flex
  overflow: hidden
  position: relative


  img
    width: 100%
    height: 100%
    object-fit: cover
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    width: 52px
    height: 52px
    border:
      radius: 50%
    background: url("../img/plus.svg") no-repeat center
      size: 100%
    opacity: 0
  &:hover
    &:before
      opacity: 1

.image-gallery1, .image-gallery2
  height: 184px


.image-gallery1
  width: 239px
  &:before
    opacity: 1

.image-gallery2
  width: 159px

.image-gallery3, .image-gallery4
  height: 182px

.image-gallery3
  width: 164px

.image-gallery4
  width: 235px

.image-gallery5
  height: 183px
  width: 100%

.image-gallery-hidden
  display: none

.history-museum
  padding: 41px 0 42px
  color: #000
  background: #E9DAD6
  h2
    margin: 0 0 42px
    line-height: normal
    font-size: 30px
    font-weight: bold

.history-museum-wrapper
  width: 100%
  position: relative
  z-index: 1
  &:before
    content: ''
    position: absolute
    z-index: -1
    width: 523px
    height: 523px
    opacity: 0.3
    top: 43px
    left: -55px
    background: url("../img/logo-letter.svg") no-repeat center
      size: 100%
    filter: brightness(0) invert(1)

.history-museum-slider
  padding: 75px 0 77px
  width: 100%
  background: rgba(#CBA69B, .3)
  .slick-slide
    margin: 0 160px 0 0
    opacity: 0.35
  .slick-center
    opacity: 1


.history-museum-slider__nav
  position: absolute
  left: 50%
  padding: 0 30px
  transform: translate(-50%,0)
  top: 190px
  max-width: 1260px
  width: 100%
  z-index: 1
  .slick-arrow
    width: 36px
    height: 36px
    z-index: 1
    background: #BA634B
    &:before
      content: ''
      position: absolute
      z-index: -1
      width: calc(100% + 8px)
      height: calc(100% + 8px)
      border: 4px solid rgba(#fff, .3)
        radius: 50%
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      transition: .3s ease
    &:hover
      &:before
        border-color: #BA634B

.history-museum-item
  display: flex
  align-items: flex-start
  &__gallery
    display: flex
    flex-direction: column
    position: relative
    z-index: 1
    &:before
      content: ''
      position: absolute
      top: 60px
      left: 13px
      height: 238px
      width: 409px
      background: #DE7856
      border-radius: 15px
      z-index: -1
  &__content
    width: 391px
    padding: 45px 0 0 60px
  h3
    color: #BA634B
    font-size: 45px
    font-weight: 300
    margin: 0 0 23px
    line-height: 24px

.image-max
  border: 7px solid #D7B5AA
    radius: 15px
  width: 400px
  height: 276px
  position: relative
  z-index: 1
  @include d-flex
  img
    border-radius: 10px
    width: 100%
    height: 100%
    object-fit: cover


.image-min
  border: 7px solid #D7B5AA
    radius: 15px
  @include d-flex
  height: 198px
  width: 300px
  margin: -20px -190px 0 auto
  img
    width: 100%
    height: 100%
    object-fit: cover
    border-radius: 10px

.image-submin
  position: relative
  z-index: 1
  border: 7px solid #D7B5AA
    radius: 15px
  @include d-flex
  width: 163px
  height: 218px
  margin: -139px 0 0 101px
  img
    width: 100%
    height: 100%
    object-fit: cover

.history-museum-item2
  .image-min
    width: 179px
    height: 245px
    z-index: 1
    position: relative
    margin: -70px 20px 0 auto

.history-museum-item3
  .history-museum-item__content
    width: 577px
  .history-museum-item__gallery
    &:before
      top: 58px
      left: 12px
      width: 198px
      height: 302px
      border-radius: 25px
  .image-max
    width: 187px
    height: 338px

.history-museum-item4
  .image-min
    width: 181px
    height: 192px
    margin: -102px -22px 0 auto
    position: relative
    z-index: 1

.history-museum-item5
  .history-museum-item__content
    width: 533px
  .history-museum-item__gallery
    &:before
      top: 58px
      left: 12px
      width: 258px
      height: 302px
      border-radius: 25px
  .image-max
    width: 247px
    height: 338px

.history-museum-timeline
  width: 100%
  position: relative
  margin: 59px 0 0
  &:before
    content: ''
    position: absolute
    top: 11px
    left: 0
    width: 100%
    height: 1px
    background: #BA634B

.history-museum-timeline-slider
  margin: 0 auto
  padding: 0 15px
  width: 100%
  max-width: 1260px
  display: flex
  align-items: flex-start
  justify-content: space-between
  .slick-current
    .history-museum-timeline__item
      &:before
        background: #BA634B

.history-museum-timeline__item
  position: relative
  text-align: center
  flex: 1
  font-weight: bold
  padding: 29px 0 0
  cursor: pointer
  //margin: 3px 0 0
  &:before
    content: ''
    border: 1px solid #BA634B
      radius: 50%
    width: 21px
    height: 21px
    background: #fff
    transition: .3s ease
    top: 0
    left: 50%
    transform: translate(-50%,0)
    position: absolute
    z-index: 1
  &:after
    content: ''
    position: absolute
    left: 50%
    top: -3px
    transform: translate(-50%,0)
    border: 0
      radius: 50%
    width: 27px
    height: 27px
    opacity: .3
    background: #fff
  &.active
    &:before
      background: #BA634B

.cooperation
  color: #000
  padding: 96px 0 160px
  .container
    align-items: flex-start
  &__image
    border-radius: 20px
    width: 387px
    height: 587px
    overflow: hidden
    @include d-flex
    img
      width: 100%
      height: 100%
      object-fit: cover
  &__content
    width: calc(100% - 387px)
    padding: 0 0 0 63px
  h2
    margin: 0 0 32px
    font-size: 30px
    font-weight: bold
    line-height: normal
  .btn
    padding: 0 55px

.cooperation-item
  margin: 0 0 30px
  line-height: 24px
  max-width: 705px
  h4
    font-weight: bold
    margin: 0 0 10px

.d-mobile
  display: none
/*==========  section about page end  ==========*/



/*==========  section share ==========*/
.share-section
  background: #70AB9E
  padding: 67px 0 72px
  h2
    color: #fff
    text-align: center
    margin: 0 auto 20px
    font-size: 22px
    line-height: normal
    font-weight: bold
    width: 100%
  .btn
    margin: 82px auto 0
    max-width: 438px
    width: 100%


.list-social
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  width: 100%
  li
    margin: 0 10px 0 0
    &:last-child
      margin: 0
    a
      width: 30px
      height: 30px
      @include d-flex
      img
        width: 100%
        max-height: 100%
/*==========  section share end ==========*/

.bg-beige
  background: #F4EDEA

.bg-orange
  background: #DE7856

.bg-brown
  background: #CBA69B

.h2
  font-size: 40px
  font-weight: bold
  line-height: 47px
  display: flex
  align-items: center
  flex-wrap: wrap
  img
    margin: 0 0 0 10px

/*==========  section podcast ==========*/
.podcast
  padding: 73px 0 44px
  h2
    margin: 0 0 13px
    color: #CBA69B

  .box-text
    font-size: 18px
    line-height: 28px

.podcast-audio
  max-width: 240px
  width: 100%
  &__image
    @include d-flex
    border-radius: 15px
    overflow: hidden
    height: 240px
    position: relative
    img
      width: 100%
      height: 100%
      object-fit: cover
  .time
    margin: 5px 0 0

.time
  @include d-flex
  background: #fff
  line-height: 28px
  border-radius: 15px
  font-size: 16px
  font-weight: 600
  padding: 0 16px
  color: #000
  width: fit-content

.btn-play-my
  @include d-flex
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  fill: #fff
  width: 54px
  height: 54px
  border-radius: 50%
  padding: 15px
  background: #DE7856
  .svg-icon
    margin: 0 -3px 0 0

.podcast-content
  width: calc(100% - 240px)
  padding: 0 0 0 54px

/*==========  section podcast end ==========*/


/*==========  section lecture ==========*/
.lecture
  padding: 75px 0 79px
  h2
    margin: 0 0 16px
    color: rgba(#4C434A, .8)
    max-width: 650px
    span
      display: flex
      align-items: center
  h4
    width: 100%
    margin: 0 0 40px
    font-size: 22px
    font-weight: bold
    color: #FBFAFA

.lecture-wrapper
  width: 100%
  display: flex
  align-items: flex-start
  flex-wrap: wrap

.author-video
  font-style: italic
  font-size: 18px
  line-height: 28px
  margin: 10px 0 0
  max-width: 574px
  width: 100%

.lecture-video
  max-width: 646px
  width: 100%

.lecture-video-box
  width: 100%
  height: 362px
  position: relative
  border-radius: 15px
  overflow: hidden
  @include d-flex
  margin: 0 0 8px
  img
    width: 100%
    height: 100%
    object-fit: cover
  .btn-play-my
    width: 82px
    height: 82px
    padding: 23px
    background: #A287BC
    .svg-icon
      margin: 0 -7px 0 0

.lecture-content
  width: calc(100% - 646px)
  padding: 0 0 0 59px
  .box-text
    font-size: 18px
    line-height: 28px
    color: #fff


/*==========  section lecture end ==========*/

/*==========  section era ==========*/
.era
  padding: 73px 0 91px
  position: relative
  .container
    position: initial
  h2
    color: #CBA69B
    margin: 0 0 12px
    img
      margin: 0 14px 0 -35px
  h4
    margin: 0 0 40px
    font-size: 35px
    font-weight: bold
    text-decoration: underline
    color: #000
    img
      display: inline
      margin: 0 0 0 10px
  .box-text
    margin: 30px 0
    font-size: 18px
    line-height: 28px
  .btn
    max-width: 181px
    width: 100%


.era-content
  max-width: 646px
  width: 100%
  margin: 0 0 0 auto

.era-image
  position: absolute
  left: -124px
  bottom: 0
  max-width: 508px
  width: 100%
  @include d-flex

/*==========  section era end ==========*/

/*==========  section heritage ==========*/
.heritage
  padding: 34px 0 32px
  background: #CBA69B
  .container
    justify-content: center
    align-items: center
  h3
    font-size: 30px
    font-weight: bold
    color: #fff
    a
      display: inline-block
      text-decoration: underline
      color: rgba(186, 99, 75, 1)
      img
        margin: 0 0 0 5px
        display: inline

.heritage-content
  max-width: 582px
  width: 100%

.heritage-image
  max-width: 149px
  width: 100%
  @include d-flex
  margin: 0 0 0 39px

/*==========  section heritage end ==========*/


/*==========  section home-course ==========*/
.home-course
  padding: 39px 0 35px
  h1
    letter-spacing: 0.045em
    font-size: 76px
  .description-mobile
    display: block
    text-align: center
    margin: 35px auto 0
    letter-spacing: 0.25em
    font-size: 26px
    line-height: 125%
    font-weight: bold
    text-transform: uppercase
    max-width: 620px
/*==========  section home-course end ==========*/


/*==========  section course-levels-v2 ==========*/
.course-levels-v2
  padding: 0
  position: relative
  display: flex
  align-items: flex-end

  .container
    flex-wrap: wrap
    align-items: center
  .block_hover-image
    max-width: 559px
    position: relative
    top: 0
    right: 0
    transform: none
    margin-left: auto
  .panel_heading
    border: none
    position: absolute
    width: 100%
    &.in
      position: relative
    .block_title
      z-index: 2
      width: 33.333%
      padding: 26px 33px
      position: absolute
      left: 0
      bottom: 0
      min-height: auto
      min-width: auto
      border: none
      letter-spacing: 0.4em
      font-size: 9px
      font-weight: 500
      text-transform: uppercase
      h3
        margin: 7px 0 0
        transform: none
        text-transform: none
        font-size: 16px
        line-height: 21px
        font-weight: bold
        letter-spacing: 0
        white-space: normal
        max-width: 220px
    .block_hover
      width: 100%
      padding: 47px 0 177px
      h4
        margin: 0
    &:nth-child(2)
      .block_title
        left: 33.333%
      .block_hover-image
        right: 0
    &:last-child
      .block_title
        left: auto
        right: 0
      .block_hover-image
        right: 0
/*==========  section course-levels-v2 end ==========*/


/*==========  section image-wrapper-course ==========*/
.image-wrapper-course
  width: 100%
  img
    width: 100%
/*==========  section image-wrapper-course end ==========*/

/*==========  section history-course ==========*/
.history-course
  padding: 70px 0 103px
  h4
    font-weight: bold
    line-height: 32px
    font-size: 20px
    max-width: 405px
    width: 100%
    color: #000
  .box-text
    width: calc(100% - 405px)
    padding: 0 0 0 58px
    font-size: 20px
    font-weight: 500
    line-height: 32px
  .image-logo
    margin: 0 0 28px
    width: 100%
  .container
    align-items: flex-start

/*==========  section history-course end ==========*/

/*==========  section era-v2 ==========*/
.era-v2
  padding: 63px 0 47px
  .container
    align-items: flex-start
  h2
    img
      margin: 0 14px 0 0
  .era-content
    max-width: 833px
    margin: 0 auto 0 0
  h4
    margin: 12px 0 10px
  .box-text
    margin-bottom: 0

.subtitle-name
  color: #000
  font-size: 18px
  font-weight: bold


/*==========  section era-v2 end ==========*/


/*==========  section arranged-icon ==========*/
.arranged-icon
  padding: 44px 0 91px
  h2
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    font-size: 50px
    font-weight: bold
    line-height: 59px
    color: #F4EDEA
    width: 100%
    margin: 0 auto 22px
    img
      margin: 0 auto 1px
  .description
    font-size: 18px
    font-weight: 600
    text-align: center
    line-height: 28px
    margin: 0 auto 30px
    max-width: 913px
    width: 100%
    color: #000

.arranged-icon-slider
  width: 100%
  .slide
    width: 100%

.arranged-icon-item
  position: relative
  @include d-flex
  max-width: 528px
  width: 100%
  margin: 0 auto

.tooltip-wrapper
  position: absolute
  z-index: 2

.tooltip-icon
  width: 30px
  height: 30px
  border: 4px solid #FFFFFF
    radius: 50%
  position: relative
  cursor: pointer
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    border: 3px solid #BA634B
      radius: 50%
    width: 24px
    height: 24px

.tooltip-box
  box-shadow: 0 4px 25px rgba(106, 62, 50, 0.5)
  background: #F4EDEA
  border-radius: 15px
  max-width: 291px
  min-width: 291px
  width: 100%
  position: absolute
  z-index: 2
  color: #000
  padding: 23px
  margin: 12px 0 0
  right: -40px
  top: 100%
  display: none
  h4
    font-size: 20px
    margin: 0 0 10px
    font-weight: bold
    line-height: 24px
  p
    font-size: 16px
    line-height: 22px
  &__close
    @include d-flex
    top: 24px
    right: 24px
    width: 17px
    height: 17px
    fill: #BA634B
    position: absolute

.tooltip-box-v2
  min-width: 398px

.tooltip-box-left
  margin: 0 0 0 18px
  right: auto
  left: 30px
  top: 0

.tooltip-wrapper1
  left: 6px
  top: 94px

.tooltip-wrapper2
  top: 103px
  left: 50%
  transform: translate(-50%,0)

.tooltip-wrapper3
  right: 119px
  bottom: 264px

.tooltip-wrapper4
  right: 178px
  bottom: 289px

.tooltip-wrapper5
  right: 91px
  top: 270px

.tooltip-wrapper6
  left: 40px
  top: 100px

.arranged-icon-item__info
  text-align: center
  margin: 20px auto 0
  h3
    font-weight: bold
    color: #000
    font-size: 30px
    line-height: 35px
  .date
    color: #943921
    line-height: 24px
    font-size: 20px
    font-weight: bold
    margin: 5px auto 0


.slick-dots
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  list-style: none
  margin: 50px auto 0
  position: relative
  bottom: 0
  padding: 0
  li
    cursor: pointer
    transition: .3s ease
    margin: 0 19px 0 0
    width: 21px
    height: 21px
    position: relative
    z-index: 1
    border: 1px solid #BA634B
      radius: 50%
    background: #fff
    &:before
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      width: calc(100% + 6px)
      height: calc(100% + 6px)
      background: #fff
      opacity: .3
      border-radius: 50%
    &:last-child
      margin: 0
    button
      display: none
  .slick-active
    background: #BA634B

.arranged-icon-slider__nav
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  margin: 26px auto 0
  .slick-arrow
    width: fit-content
    background: #fff
    @include d-flex
    height: 67px
    padding: 0 40px
    border-radius: 48px
    color: #4C434A
    font-size: 16px
    font-weight: 500
    position: relative
    z-index: 1
    top: 0
    left: 0
    right: 0
    transform: none
  .slick-disabled
    display: none !important
  .slick-prev
    margin: 0 10px 0 0

/*==========  section arranged-icon end ==========*/


/*==========  section icon-comparison ==========*/
.icon-comparison
  h3
    text-align: center
    display: flex
    flex-direction: column
    align-items: center
    width: 100%
    max-width: 782px
    margin: 0 auto 40px
    font-size: 30px
    font-weight: bold
    line-height: 35px

  h2
    text-align: center
    margin: 0 auto 55px
    font-size: 40px
    line-height: 47px
    font-weight: bold
    width: 100%
    color: #CBA69B

.icon-comparison-wrapper
  width: 100%
  background: #4C434A
  color: #fff
  padding: 52px 0 146px
  display: none
  &.active
    display: block
  h5
    text-align: center
    width: 100%
    font-weight: 500
    font-size: 24px
    margin: 42px auto 0
  &__icon
    margin: 0 auto 11px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
  .btn
    margin: 48px auto 0
    padding: 0 60px

.number-question
  text-align: center
  margin: 0 auto 2px
  letter-spacing: 0.1em
  font-size: 16px
  font-weight: 500
  line-height: 28px
  width: 100%
  color: rgba(#fff,.5)

.comparison-row
  width: 100%
  display: flex
  align-items: flex-start
  justify-content: center
  flex-wrap: wrap

.comparison-item
  position: relative
  padding: 0 40px 0 0
  width: 50%
  &:before
    content: ''
    position: absolute
    width: 1px
    height: 249px
    background: #CBA69B
    right: 0
    top: 80px
  &:last-child
    padding: 0 0 0 40px
    &:before
      display: none
  &__image
    @include d-flex
    max-width: 315px
    width: 100%
    position: relative
    margin: 0 auto
    transition: .3s ease
    border: 10px solid transparent
  &.active
    .comparison-item__image
      border: 10px solid #CBA69B
  &__icon
    position: absolute
    bottom: -20px
    left: 50%
    transform: translate(-50%,0)
    @include d-flex
  &__description
    margin: 40px auto 0
    max-width: 420px
    width: 100%
    color: #fff
    .comparison-item__icon
      display: none
    .box-text
      font-size: 18px
      line-height: 24px
      color: #fff
    h5
      color: #CBA69B
      margin: 0 0 32px
      font-size: 18px
      font-weight: bold
      text-align: left


.comparison-item-click
  cursor: pointer

.icon-comparison__result-wrapper
  width: 100%
  text-align: center
  margin: 0 auto
  background: linear-gradient(180deg, rgba(#CBA69B, .2) 0%, rgba(203, 166, 155, 0.2) 100%)
  border-radius: 30px
  padding: 48px
  color: #CBA69B
  font-size: 100px
  font-weight: 275
  line-height: 118px
/*==========  section icon-comparison end ==========*/


/*==========  section share ==========*/
/*==========  section share end ==========*/


@media only screen and (max-width: 1270px)
  .history-museum-slider__nav
    max-width: 1000px

@media only screen and (max-width: 1200px)
  .history-museum-slider .slick-slide
    margin: 0 100px 0 0

  .course-levels-v2
    .block_hover-image
      right: 0
      max-width: 500px

  .lecture
    padding: 20px 0 59px

  .lecture-video
    max-width: 400px

  .lecture-video-box
    height: 300px
    .btn-play-my
      width: 42px
      height: 42px
      padding: 13px
      .svg-icon
        margin: 0 -4px 0 0

  .lecture-content
    width: calc(100% - 400px)

  .tooltip-box-v2
    min-width: 300px

  .era-v2 .era-content
    max-width: 650px

  .era-image
    max-width: 400px

@media only screen and (max-width: 992px)
  .about-content
    padding: 0 0 0 20px

  .team-projects
    padding: 50px 0
    h2
      margin: 0 0 30px
      font-size: 30px

  .team-projects-card
    margin: 0 0 30px
    &__photo
      width: 151px
      height: 151px
      min-width: 151px
    h4
      font-size: 16px
      line-height: 19px
      margin: 0 0 10px
    .position
      font-size: 14px
      line-height: 20px

  .team-projects-item
    &__photo
      width: 120px
      height: 120px
      min-width: 120px
    &__content
      padding: 0 0 0 18px

  .history-museum-slider
    background: transparent
    padding: 0

  .history-museum-wrapper:before
    display: none

  .history-museum-slider__nav
    max-width: 800px

  .history-museum
    padding: 22px 0 41px

  .history-museum-timeline
    margin: 30px 0 0

  .history-museum-slider .slick-slide
    margin: 0 40px 0 0

  .course-levels-v2
    .container
      padding: 0 15px

  .course-levels-v2 .block_hover-image
    max-width: 380px

  .course-levels-v2 .panel_heading .block_title
    padding: 20px

  .lecture-content
    width: 100%
    padding: 0

  .lecture-video
    max-width: none

  .lecture-video-box
    max-width: 550px
    height: 300px
    margin: 0 auto 7px

  .author-video
    margin: 8px 0 15px
    max-width: none

  .era-v2
    padding: 23px 0
    .era-content
      max-width: 550px

  .era
    h4
      font-size: 24px
      line-height: normal

  .arranged-icon-item
    flex-wrap: wrap

  .tooltip-box
    min-width: auto
    width: 100%
    max-width: none
    position: relative
    top: 0
    right: 0
    bottom: 0
    left: 0
    transform: none
    margin: 18px auto 0

  .tooltip-wrapper
    position: initial
    right: 0
    top: 0
    left: 0
    bottom: 0
    width: 100%
    transform: none
    .tooltip-icon
      position: absolute

  .tooltip-wrapper1
    .tooltip-icon
      top: 79px
      left: 3px

  .tooltip-wrapper2
    .tooltip-icon
      top: 65px
      left: 50%
      transform: translate(-50%, 0)

  .tooltip-wrapper3
    .tooltip-icon
      right: 58px
      top: 173px

  .tooltip-wrapper4
    .tooltip-icon
      top: 400px
      left: 80px

  .tooltip-wrapper5
    .tooltip-icon
      top: 300px
      right: 100px

  .tooltip-wrapper6
    .tooltip-icon
      left: 150px
      top: 150px

  .subtitle-name
    font-size: 16px

  .icon-comparison-wrapper
    padding: 32px 0 78px

  .icon-comparison__result-wrapper
    font-size: 70px
    line-height: normal
    padding: 30px 20px

  .icon-comparison
    h2
      font-size: 30px
      margin: 0 auto 26px
    h3
      margin: 0 auto 15px
      font-size: 24px

  .comparison-item__description
    max-width: 350px

  .heritage-content
    max-width: 500px

  .heritage
    padding: 24px 0 36px
    h3
      font-size: 24px
      img
        max-width: 18px

  .era-content
    max-width: none

  .era
    h2
      img
        margin: 0 5px 0 0

  .era-image
    position: relative
    max-width: 232px
    margin: 0 0 24px
    left: 0

@media only screen and (max-width: 768px)
  .page-about-home
    padding: 45px 0 291px

  .about-content
    width: calc(100% - 162px)

  .about-image
    width: 162px

  .learn-course
    padding: 50px 0 40px
    h2
      font-size: 30px
    &:before
      height: 25px
      -webkit-background-size: 75px
      background-size: 75px
    &__content
      width: calc(100% - 250px)
    &__image
      max-width: 350px
    .btn
      margin: 30px 0 0

  .team-projects-card
    width: 100%

  .team-projects-item
    width: 100%
    margin: 0 0 27px
    .box-text
      max-width: none

  .team-projects-wrapper
    padding: 23px 0 0

  .museum-section
    padding: 20px 0 10px
    .box-text
      font-size: 14px
      line-height: 20px
      strong
        font-size: 16px
        line-height: 22px
    &__content
      width: 100%
      padding: 0

  .museum-section__gallery
    margin: 22px auto 0

  .cooperation
    padding: 60px 0 100px
    h2
      font-size: 30px
    &__image
      width: 250px
      height: 500px
    &__content
      width: calc(100% - 250px)
      padding: 0 0 0 20px
    .box-text
      font-size: 14px
      line-height: 20px

  .cooperation-item
    margin: 0 0 20px

  .history-museum
    h2
      margin: 0 0 24px

  .history-museum-item
    flex-wrap: wrap
    &__content
      padding: 0
      width: 100%
      margin: 42px 0 0
    h3
      font-size: 30px
      margin: 0 0 13px
      line-height: 24px
    .box-text
      line-height: 20px
      font-size: 14px

  .history-museum-slider
    padding: 0 15px
    .slick-slide
      opacity: 1
      margin: 0
    .slick-arrow
      background: transparent
      border-radius: 0
      padding: 0
      color: #BA634B
      font-size: 30px
      font-weight: 300
      width: fit-content
      height: fit-content
      top: 50%
      transform: translate(0,-50%)
    .slick-prev
      left: 15px
      span
        transform: rotate(180deg)
    .slick-next
      right: 15px
    .slick-disabled
      opacity: 0

  .history-museum-timeline
    &:before
      display: none

  .history-museum-timeline__item
    span
      display: none

  .home-course h1
    font-size: 50px

  .course-levels-v2 .block_hover-image
    position: absolute

  .course-levels-v2 .panel_heading .block_title
    width: 50%
    padding: 23px 25px

  .course-levels-v2 .panel_heading:nth-child(2) .block_title
    left: 0


  .course-levels-v2 .panel_heading.in .block_title
    width: 100%
    bottom: auto
    top: 0
    border-bottom: 1px solid #FFFFFF
    background: transparent

  .course-levels-v2 .panel_heading .block_hover
    padding: 81px 0 118px

  .course-levels-number
    font-size: 13px
    font-weight: bold
    letter-spacing: 0.2em


  .course-levels-v2 .panel_heading .block_title h3
    display: none

  .history-course
    padding: 30px 0 43px
    .image-logo
      margin: 0 0 11px
      img
        max-width: 30px
    h4
      width: 100%
      margin: 0 0 23px
      font-size: 16px
      line-height: 22px
      max-width: none
    .box-text
      width: 100%
      padding: 0
      font-size: 14px
      line-height: 20px

  .h2
    font-size: 30px
    line-height: normal

  .era-v2
    .era-content
      max-width: none

  .era
    .btn
      margin: 23px auto 0
      width: 100%
      max-width: none
      padding: 0 20px
    h4
      margin: 5px 0 11px
      img
        max-width: 20px
    .box-text
      margin: 11px 0 0

  .comparison-item__description
    max-width: none
    .comparison-item__icon
      display: flex
      margin: 0 auto 17px
      width: 30px
      position: relative
      top: 0
      left: 0
      bottom: 0
      transform: none

  .heritage-image
    max-width: 237px
    margin: 0 auto
    order: -1

  .heritage-content
    width: 100%
    max-width: none

  .heritage h3
    font-size: 20px
    line-height: 24px
    br
      display: none

  .era-image
    margin: 0 auto 24px

  .era
    padding: 49px 0 63px
    h2
      img
        margin: 0 10px 0 0
        max-width: 15px

  .podcast-content
    padding: 0
    width: 100%
    order: -1

  .podcast-audio
    margin: 15px auto 0
    max-width: 335px
    &__image
      height: 240px

@media only screen and (max-width: 650px)
  .image-max
    width: 206px
    height: 142px
    border-width: 4px

  .image-min
    width: 154px
    height: 102px
    border-width: 4px
    margin: -70px -120px 0 auto

  .image-submin
    border-width: 4px
    width: 109px
    height: 158px
    margin: -109px 0 0 40px
    img
      border-radius: 10px

  .history-museum-item2 .image-min
    width: 102px
    height: 154px
    //margin: -142px -98px 0 auto

  .history-museum-item3 .image-max
    width: 140px
    height: 300px

  .history-museum-item3 .history-museum-item__gallery:before
    width: 150px
    height: 260px

  .history-museum-item5 .image-max
    width: 180px
    height: 280px

  .history-museum-item5 .history-museum-item__gallery:before
    width: 180px
    height: 230px


  .history-museum-item4 .image-min
    width: 120px
    height: 132px

  .history-museum-item__gallery:before
    width: 211px
    height: 122px
    top: 30px
    left: 6px

  .history-museum-timeline-slider
    justify-content: flex-start

  .history-museum-timeline__item
    padding: 0
    flex: none
    margin: 0 12px 0 0
    &:last-child
      margin: 0
    &:before
      position: relative
      display: block
      min-width: 13px
      width: 13px
      height: 13px
      border: none
    &:after
      width: 21px
      height: 21px
      top: -4px



@media only screen and (max-width: 576px)
  .row
    margin: 0

  .page-about-home
    padding: 17px 0 153px

  .about-content
    padding: 0
    width: 100%
    .box-text
      p
        &:first-child
          padding: 0 0 0 110px

  .about-image
    position: absolute
    left: -61px
    top: -20px
    margin: 0

  .about-wrapper
    position: relative

  .learn-course
    h2
      font-size: 20px
      margin: 0 0 15px
    .box-text
      font-size: 14px

  .team-projects
    padding: 22px 0 41px
    h2
      margin: 0 0 21px
      font-size: 20px
    .row
      margin: 0

  .team-projects-card
    padding: 0

  .team-projects-item
    h4
      font-size: 14px
    .position, .box-text
      font-size: 12px
    .position
      margin: 3px 0
    &__photo
      width: 80px
      height: 80px
      min-width: 80px

  .btn-toggle-team
    width: 100%
    margin: 9px auto 0

  .museum-section
    h2
      font-size: 20px
      margin: 0 0 11px
    .box-text
      p
        margin: 0 0 12px
        &:last-child
          margin: 0
    &__gallery
      max-width: 320px

  .image-gallery:before
    width: 40px
    height: 40px

  .image-gallery1, .image-gallery2
    height: 161px

  .image-gallery3, .image-gallery4
    height: 159px

  .image-gallery1
    width: 193px

  .image-gallery2
    width: 127px

  .image-gallery3
    width: 145px

  .image-gallery4
    width: 175px

  .image-gallery5
    height: 160px

  .cooperation
    padding: 23px 0 111px
    h2
      margin: 0 0 12px
      font-size: 20px
    &__image
      display: none
    &__content
      padding: 0
      width: 100%
    img.d-mobile
      display: inline-block
      max-width: 120px
      float: right
      border-radius: 20px
      margin: 0 0 13px 13px

  .history-museum h2
    font-size: 20px


  .home-course
    padding: 20px 0 40px
    h1
      font-size: 28px
      line-height: 125%
    .description-mobile
      margin: 15px auto 0
      font-size: 14px
      letter-spacing: 0.15em
      max-width: 256px

  .course-levels-v2 .panel_heading:nth-child(2) .block_hover-image, .course-levels-v2 .panel_heading:last-child .block_hover-image, .course-levels-v2 .block_hover-image
    top: 50%
    transform: translate(0,-50%)

  .course-levels-v2 .block_hover-image
    max-width: 250px

  .lecture-video-box
    max-width: 335px
    height: 190px

  .h2
    font-size: 20px
    line-height: 24px

  .lecture
    h2
      margin: 0 0 11px
      img
        margin: 0 0 0 5px
        max-width: 25px
    h4
      margin: 0 0 20px
      font-size: 18px
      line-height: 21px

  .author-video, .lecture-content .box-text
    font-size: 14px
    line-height: 20px

  .era
    h4
      line-height: 24px
      font-size: 20px
    .box-text
      font-size: 14px
      line-height: 20px

  .arranged-icon
    padding: 24px 0 40px
    h2
      font-size: 25px
      line-height: 29px
      margin: 0 auto 12px
      img
        margin: 0 auto 6px
    .description
      font-size: 14px
      line-height: 20px
      margin: 0 auto 10px

  .arranged-icon-item
    max-width: 338px

  .tooltip-box
    font-size: 14px
    line-height: 20px
    p
      font-size: 14px
      line-height: 20px
    h4
      font-size: 20px
      line-height: 24px
      margin: 0 0 10px

  .tooltip-icon
    width: 20px
    height: 20px
    &:before
      width: 16px
      height: 16px

  .arranged-icon-item__info
    margin: 24px auto 0
    h3
      font-size: 20px
      line-height: 24px
      margin: 0 auto 6px
    .date
      font-size: 14px
      line-height: 16px

  .slick-dots
    margin: 31px auto 0
    li
      width: 14px
      height: 14px
      margin: 0 20px 0 0
      &:last-child
        margin: 0

  .arranged-icon-slider__nav
    flex-wrap: wrap
    margin: 39px auto 0
    .slick-arrow
      height: 45px
      width: 100%
    .slick-prev
      margin: 0 auto 10px

  .subtitle-name
    font-size: 14px
    line-height: 20px

  .comparison-item__icon
    max-width: 30px
    bottom: -15px

  .comparison-item__image
    max-width: 140px
    border-width: 4px

  .comparison-item
    padding: 0 20px 0 0
    &:last-child
      padding: 0 0 0 20px
    &:before
      height: 121px
      top: 26px

  .icon-comparison
    h3
      margin: 0 auto 17px
      font-size: 16px
      line-height: 19px
    h2
      margin: 0 auto 26px
      font-size: 25px
      line-height: 29px

  .icon-comparison-wrapper
    h5
      margin: 19px auto 0
      font-size: 18px
      line-height: 21px
    .btn
      margin: 26px auto 0
      padding: 0 20px
      max-width: none
      width: 100%

  .number-question
    font-size: 14px
    line-height: 28px

  .comparison-item__description
    margin: 0 0 30px
    &:last-child
      margin: 0
    h5
      margin: 0 0 20px
      font-size: 15px
      line-height: 20px
      br
        display: none
    .box-text
      font-size: 14px
      line-height: 20px

  .icon-comparison__result-wrapper
    font-size: 30px
    line-height: 35px
    border-radius: 20px

  .podcast
    .box-text
      font-size: 14px
      line-height: 20px
    .h2
      img
        max-width: 15px

  .share-section
    padding: 35px 0 47px
    h2
      font-size: 22px
      line-height: 26px
    .btn
      margin: 26px auto 0
      max-width: none
      width: 100%
      padding: 0 20px

@media only screen and (max-width: 480px)
  .chapter-box .collection-box__image
    height: 346px
    margin: 0 auto 20px
    width: fit-content

  .about-image
    top: 0

  .about-content
    .box-text
      font-size: 14px


  .list-category-product
    font-size: 13px
    margin: 0 0 15px
    li
      margin: 0 18px 4px 0
      &:last-child
        margin: 0 0 4px

  .btn-play
    height: 45px
    margin: 28px auto 0

  .learn-course
    &__content
      max-width: none
      width: 100%
      .box-text
        line-height: 20px
        p
          margin: 0 0 20px
          &:last-child
            margin: 0
          &:first-child
            padding: 0 91px 0 0
    &__image
      max-width: 277px
      right: -85px
      position: absolute
      top: 30px
    .btn
      margin: 30px auto 0

  .cooperation
    .btn
      width: 100%
      height: 50px

  .tooltip-wrapper4 .tooltip-icon
    top: 100px

@media only screen and (max-width: 400px)
  .about-content
    .box-text
      line-height: 20px

  .btn-play
    width: 100%
    max-width: none

  .image-gallery1
    width: 170px

  .image-gallery2
    width: 120px

  .image-gallery3
    width: 140px

  .image-gallery4
    width: 150px

@media only screen and (max-width: 350px)
  .image-min
    margin: -70px -80px 0 auto

  .course-levels-v2 .panel_heading .block_title
    padding: 23px 20px